/* 여기에 전체 header 와 footer 공통 연결되어 있음 */



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

/* **************bodykeyframe************** */

@keyframes bodykey{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

body{
    animation: bodykey 1s linear;
}

a{
    text-decoration: none;
}
/* **************color************** */
:root{
    --main-color:rgb(30,30,30);
}
/* **************header************** */

#header-container{
    width:100%;
    
    
}

.header-wrap{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    max-width:164rem;
    padding:5rem 10rem;
}

.header-wrap > div > a{
    font-size: 4.8rem;
    color: var(--main-color);
}

.header-ul{
    display:flex;
    list-style-type: none;
    gap: 4rem;
}

.header-ul a{
    font-size:2.4rem;
    color: var(--main-color);
}

.menu{
    display:none;
    position: absolute;
    top:2rem;
    right:2rem;
}

.header-ul.active{
    display:flex;
}


/* **************footer************** */

.footer-wrap{
    margin:0 auto;
    width:110rem;
    height:50rem;
    font-size: 3rem;
    display:flex;
    flex-direction: column;
    gap:5rem;
    padding-top: 7rem;
    padding-bottom: 2.5rem;
    
}

.footer-wrap > div:nth-child(2){
    display:flex;
    gap:3rem;
}

.footer-wrap > div:nth-child(2) a{
    color: var(--main-black-color);
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    width:150px;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in;
}

.footer-wrap > div:nth-child(2) a:hover{
    background:black;
    color:white;
}

.footer-wrap > div:nth-child(3){
    padding-top: 4rem;
    display:flex;
    justify-content: center;
}
