/* **************header************** */
.header-wrap{
    margin:0 0;
    width:100%;
    padding:2rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header-wrap > div > a{
    font-size: 1.5rem;
}

.header-ul{
    display:none;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.header-ul a{
    font-size:1rem;
}

.menu{
    display:block;
    position: absolute;
    top:2rem;
    right:2rem;
    color:black;
    font-size: 2rem;
}

/* **************footer************** */

.footer-wrap{
    margin:0 auto;
    width:100%;
    height:40rem;
    font-size: 2rem;
    gap:5rem;
    padding: 0 3rem;
    padding-top: 5rem;
    
}

.footer-wrap > div:nth-child(2){
    display:flex;
    justify-content: space-between;
    gap:3rem;
    padding: 0 3rem;
}

.footer-wrap > div:nth-child(2) a{
    color: var(--main-black-color);
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    width:110px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in;
}

.footer-wrap > div:nth-child(2) a:hover{
    background:black;
    color:white;
}

.footer-wrap > div:nth-child(3){
    padding-top: 4rem;
    display:flex;
    justify-content: center;
}