

/* **************main************** */

.main-wrap{
    padding:8rem 3rem 0 3rem;
    width:100%;
    margin:0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 40rem 40rem;
    gap: 3rem;
}


.main-item > div > div:nth-child(1){
    flex:3;
    border-bottom: 0.2rem solid black;
}

.main-item > div > div:nth-child(2){
    flex:1;
}



/* **************footer************** */
