.main-wrap{
    margin: 0 auto;
    padding: 14rem 3rem 0 3rem;
    width:100%;
    min-width:86rem;
    display:grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 50rem 50rem;
    grid-gap: 3rem;
}

